/* Reset body */
:where(body) {
  margin: 0;
  overflow-wrap: break-word;
}

/* Do not break Korean words 한국어,중국어,일본어를 단어 중간에서 강제로 줄바꿈되는걸 막아준다.*/
:where(:lang(ko)) { word-break: keep-all; }

/* Reset img 이미지는 웹페이지보다 클 수 있기 때문에 적절하게 최대 너비를 제안시켜주도록 한다*/
:where(img) {
  max-width: 100%;
  height: auto;
}

/* CSS Reset by [class] */
:where([class]) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:where([class])::before,
:where([class])::after {
  box-sizing: border-box;
}
:where(ol[class], ul[class], li[class]) { list-style: none; }
:where(button[class], fieldset[class], iframe[class], input[class], select[class], textarea[class]) { border: 0; }
:where(button[class], dialog[class], input[class], mark[class], meter[class], progress[class]) { background-color: transparent; }
:where(table[class]) {
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

:where(button[class], input[class], meter[class], progress[class], select[class], textarea[class]) {
  -webkit-appearance: none;
  appearance: none;
}